---
Language: Cpp
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: "^<.*"
    Priority: 1
  - Regex: '^".*'
    Priority: 2
  - Regex: ".*"
    Priority: 3
IncludeIsMainRegex: "([-_](test|unittest))?$"
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignEscapedNewlines: false
PackConstructorInitializers: CurrentLine
BreakArrays: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Left
BinPackParameters: OnePerLine
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: None
BreakAfterReturnType: Automatic
BreakTemplateDeclarations: Yes 
BreakBeforeTernaryOperators: true
BreakAfterAttributes: Always
Cpp11BracedListStyle: true
BracedInitializerIndentWidth: 2
AlignAfterOpenBracket: BlockIndent
ColumnLimit: 120
NamespaceIndentation: None
FixNamespaceComments: true
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
SortUsingDeclarations: LexicographicNumeric
InsertNewlineAtEOF: true
MacroBlockBegin: ""
MacroBlockEnd: ""
MaxEmptyLinesToKeep: 1
SpacesInAngles: false
TabWidth: 2
UseTab: Never
PenaltyBreakAssignment: 300
IndentWidth: 2
ContinuationIndentWidth: 2
